<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div>
            <a href="/user/logout"><button>Logout</button></a>
            <a href="/animals/new"><button>Create A New Animal</button></a>
          <% for (animal of animals) { %>
  
          <article>
            <a href="/animals/<%= animal._id %>">
              <h2>
                <%= animal.name %> - <%= animal.extinct ? "Extinct" : "Not Extinct" %>
              </h2>
            </a>
          </article>
  
          <% } %>
        </div>
      </main>
  </body>
</html>
